<div class="bg-car position-relative">
  <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh; z-index: 2; position: relative;">
    <div class="profile-card text-white-custom">
      <div class="text-center mb-3">
        <img src="https://i.pravatar.cc/150?img=32" alt="Profile Picture" class="rounded-circle border border-3 border-white" style="width: 120px; height: 120px;">
      </div>
      <h3 class="text-center mb-2">{{loggedInUser.userName || loggedInUser.ownerName}}</h3>
      <p class="text-center email mb-4">{{loggedInUser.email }}</p>

      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" 
        value="{{loggedInUser.userName}}" disabled>
      </div>

      <div class="mb-3">
        <label class="form-label">Phone</label>
        <input type="text" class="form-control" value="+91{{loggedInUser.phoneNumber}}" disabled>
      </div>

      <div class="mb-4">
        <label class="form-label">Location</label>
        <input type="text" class="form-control" value="{{loggedInUser.address}}" disabled>
      </div>

      <div class="d-grid">
        <button class="btn btn-primary">Edit Profile</button>
      </div>
    </div>
  </div>
</div>
