<div class="login-page bg-car d-flex justify-content-center align-items-center">
  <div class="login-card">
    <h3 class="text-center mb-4 " style="color: white;">Login</h3>
    <form (ngSubmit)="onLogin()" #loginData="ngForm">
      <div class="mb-3">
        <label for="email" class="form-label" style="color: white;">Email address</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" placeholder="Enter email" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label" style="color: white;">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password"  placeholder="Password" required>
      </div>
      <button type="submit" class="btn btn-primary w-100 ">Login</button>
      <div class="mt-3 text-center">
        <small class="" style="color: white;">Don't have an account? <a routerLink="/auth/register" style="color: chocolate;">Register</a></small>
        <!-- <small class="text-muted " style="color: white;">Don't have an account? <a href="#">Register</a></small> -->
      </div>
      
    </form>
  </div>
</div>