/* styles.css */
.bg-car {
  background: url('https://t3.ftcdn.net/jpg/02/16/60/42/360_F_216604243_4yvQhIudgknAWu04Ob7aSOu6BdIfhBNb.jpg') 
              no-repeat center center/cover;
  height: 100vh;
  padding: 20px;
  position: relative;
}

.bg-car::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.login-card {
  position: relative;
  z-index: 2;
  background-color: rgba(236, 232, 232, 0.1);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 400px;
  text-decoration: solid color white ;
  
}
.yy{
  text-decoration-color: aliceblue;
}
.a{
  color: white;
}