<section class="partners-section">
    <div class="container text-center">
      <h2 class="mb-4">Our Trusted Partners</h2>
      <p class="mb-5">We proudly collaborate with the world’s most reliable automobile brands.</p>
      <div class="row justify-content-center align-items-center">
        <div class="col-6 col-md-3 mb-4">
          <img src="https://static.vecteezy.com/system/resources/previews/020/927/378/non_2x/toyota-brand-logo-car-symbol-with-name-black-design-japan-automobile-illustration-free-vector.jpg" alt="Toyota" class="partner-logo img-fluid">
        </div>
        <div class="col-6 col-md-3 mb-4">
          <img src="https://5.imimg.com/data5/SELLER/Default/2020/11/VD/XW/GN/36279429/mercedes-logo.jpg" alt="Mercedes" class="partner-logo img-fluid">
        </div>
        <div class="col-6 col-md-3 mb-4">
          <img src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Logo_audi.jpg" alt="Audi" class="partner-logo img-fluid">
        </div>
        <div class="col-6 col-md-3 mb-4">
          <img src="https://i.pinimg.com/736x/24/1b/b4/241bb4f688cc7a81e95793ced27aa8a9.jpg" alt="Nissan" class="partner-logo img-fluid">
        </div>
      </div>
    </div>
  </section>
  