<footer class="footer mt-auto py-3 text-white">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-4 mb-3 mb-md-0">
          <h5>CarRentalPro</h5>
          <p>Your trusted partner for affordable and reliable car rentals.</p>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a routerLink="/" class="footer-link">Home</a></li>
            <li><a routerLink="/about" class="footer-link">About Us</a></li>
            <li><a routerLink="/contact" class="footer-link">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <a href="#" class="footer-icon"><i class="fa fa-facebook"></i></a>
          <a href="#" class="footer-icon"><i class="fa fa-instagram"></i></a>
          <a href="#" class="footer-icon"><i class="fa fa-twitter"></i></a>
        </div>
      </div>
      <hr class="bg-white">
      <p class="mb-0">&copy; 2025 CarRentalPro. All rights reserved.</p>
    </div>
  </footer>
  