<!-- Navbar -->
<nav class="mb-4 navbar navbar-expand-lg navbar-dark unique-color-dark">
  <a class="navbar-brand d-flex align-items-center" href="#">
    <img src="https://cdn-icons-png.flaticon.com/512/743/743007.png" alt="Car Rental Logo" height="30" class="mr-2">
    <span class="ml-2 font-weight-bold">Farrari ki Sawari</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">

      <!-- Show only when NOT logged in -->
      <ng-container *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth"><i class="fa fa-sign-in-alt"></i> Login</a>
        </li>
      </ng-container>

      <!-- Customer Nav -->
      <ng-container *ngIf="isLoggedIn && role === 'user'">
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fa fa-car"></i> Bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/partner"><i class="fa fa-users"></i> Partners</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services"><i class="fa fa-cogs"></i> Services</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa fa-user-circle"></i> Account
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" routerLink="/auth/profile">My Profile</a></li>
            <li><button class="dropdown-item" (click)="logout()">Logout</button></li>
          </ul>
        </li>
      </ng-container>

      <!-- Vendor Nav -->
      <ng-container *ngIf="isLoggedIn && role === 'vender'">
        <li class="nav-item">
          <a class="nav-link" routerLink="/vender/add"><i class="fa fa-plus-circle"></i> Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vender/view"><i class="fa fa-database"></i> All Data</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="vendorDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa fa-user-circle"></i> Account
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="vendorDropdown">
            <li><a class="dropdown-item" routerLink="/auth/profile">My Profile</a></li>
            <li><button class="dropdown-item" (click)="logout()">Logout</button></li>
          </ul>
        </li>
      </ng-container>

    </ul>
  </div>
</nav>
<!-- /.Navbar -->
